<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/13edcd0f-20a3-453c-9e6c-a3fe152c58af/resourceGroups/ActionTracker/providers/Microsoft.Web/sites/MissionSustainability</ResourceId>
    <ResourceGroup>ActionTracker</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://missionsustainability.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>missionsustainability.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MissionSustainability</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MissionSustainability</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>